<div class="p-10">
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div class="flex flex-row character-info flex-wrap">
      <app-image-upload formControlName="img"></app-image-upload>
      <!-- TODO 9: <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)" /> 9 -->
      <!-- <div class="character-image w-40 h-40 border-2 border-gray-500 rounded-3xl flex items-center justify-center">
                <div class="character-image border border-gray-600 flex items-center justify-center" style="width: 9.5rem; height: 9.5rem; border-radius: 1.25rem">
                    <img [src]="'assets/characters/img/pinguin.jpg'" alt="Character Image" class="w-36 h-35 rounded-2xl">
                    <!-- TODO 4: Character Image auch an größere und anders Formattierte Bilder anpassen, reines css issue ig-->
      <!-- </div>
            </div> -->

      <div class="border border-gray-600 rounded mx-3 h-40"></div>

      <!-- Basic Info -->
      <div class="flex flex-col gap-2 flex-grow h-40">
        <input
          type="text"
          pInputText
          formControlName="name"
          placeholder="Name"
          class="text-2xl"
        />

        <!-- TODO: Class autocomplete, braucht backend mit filter, danach 8 -->
        <div class="flex flex-row items-center">
          <div formGroupName="class" class="mr-2">
            <input
              type="text"
              pInputText
              formControlName="name"
              placeholder="Klasse"
            />
          </div>
          <input
            type="number"
            pInputText
            formControlName="level"
            placeholder="LVL"
            class="w-8 h-8 text-center"
          />
        </div>
        <!-- TODO: ggf. To RomanNumber pipe (class sollte am liebsten in römischen nummern angezeigt werden, eine pipe bietet sich dafür an) 4 -->
        <!-- TODO: Background Short: (Einsiedler, Adliger oder so) Dropdown 2-->
        <div class="flex flex-row items-center gap-2">
          <div formGroupName="species">
            <input
              type="text"
              pInputText
              formControlName="name"
              placeholder="Spezies"
            />
          </div>
          <div
            class="data-field square medium flex flex-row items-center justify-center"
            (click)="cycleGender()"
          >
            <div [ngSwitch]="getGender()">
              <i *ngSwitchCase="'Male'" class="fas fa-mars text-blue-500"></i>
              <i
                *ngSwitchCase="'Female'"
                class="fas fa-venus text-pink-500"
              ></i>
              <i
                *ngSwitchCase="'Other'"
                class="fas fa-genderless text-yellow-500"
              ></i>
              <i *ngSwitchDefault class="fas fa-times text-red-500"
                >Wrong Input</i
              >
            </div>
          </div>
        </div>
        <input
          type="text"
          class="self-end w-1/3"
          pInputText
          formControlName="player"
          placeholder="Spielername"
        />
      </div>
    </div>

    <div class="border border-gray-600 rounded"></div>

    <p-accordion [multiple]="true" [activeIndex]="[0, 1, 2, 3, 4]">
      <p-accordionTab header="Attributes & Skills">
        <div class="flex flex-1 flex-col px-3" style="height: 40rem">
          <!-- Attributes -->
          <div class="attributes w-full h-32">
            <div
              class="flex flex-row justify-around"
              formGroupName="attributes"
            >
              <ng-container
                *ngFor="let attr of getAttributes()"
                formGroupName="{{ attr }}"
              >
                <div class="flex flex-row items-center gap-1 w-min">
                  <div class="flex flex-col items-center w-16 text-2xl">
                    <label htmlFor="{{ attr }}" class="text-sm">{{
                      attr.charAt(0).toUpperCase() + attr.slice(1)
                    }}</label>
                    <div class="flex flex-row w-full">
                      <!-- TODO: beim Anklicken kleine dreicke in die ecken des feldes (proficiency for death saves) 4-->
                      <input
                        type="number"
                        id="{{ attr }}"
                        pInputText
                        formControlName="value"
                        [placeholder]="0"
                        class="w-16 h-16 text-center text-3xl"
                        (keydown)="preventAccordionNavigation($event)"
                      />
                    </div>
                    <div
                      class="text-center w-10 h-7 bg-gray-800 text-base -mt-2"
                      style="border-radius: 70%"
                    >
                      {{ getModifier(attr) }}
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="border border-gray-600 rounded my-2"></div>

          <!-- Skills -->
          <div
            class="skills flex flex-1 flex-col gap-2 mt-2"
            formGroupName="skills"
          >
            <div
              class="flex flex-row justify-center align-content-around text-xl px-4"
            >
              <div class="w-1/2 flex flex-row items-center justify-start">
                <div id="proficiencyBonus" class="data-field square medium">
                  {{ getProficiencyBonus() }}
                </div>
                <label htmlFor="proficiencyBonus" class="ml-4"
                  >Proficiency Bonus</label
                >
              </div>
              <div class="w-1/2 flex flex-row justify-end items-center">
                <label htmlFor="jackOfAllTrades" class="mr-4"
                  >Jack of All Trades</label
                >
                <p-checkbox
                  formControlName="jackOfAllTrades"
                  [binary]="true"
                ></p-checkbox>
              </div>
            </div>

            <p-table
              [value]="getSkills()"
              [scrollable]="true"
              scrollHeight="29rem"
              responsiveLayout="scroll"
              class="p-datatable-striped h-40"
              styleClass="p-datatable-sm"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Skill</th>
                  <th class="text-center">Bonus</th>
                  <th class="text-center">Proficiency</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-skill>
                <tr class="h-2">
                  <td>{{ skill.label }}</td>
                  <td class="text-center">
                    <!-- TODO Implizit errechnen -->
                    {{
                      getSkillModifier(skill.modifierAttribute, skill.skill_key)
                    }}
                  </td>
                  <td class="flex flex-row justify-center">
                    <div
                      class="data-field square small flex flex-row items-center justify-center"
                      (click)="cycleProficiency(skill.skill_key)"
                    >
                      <span [ngSwitch]="getProficiency(skill.skill_key)">
                        <i
                          *ngSwitchCase="'untrained'"
                          class="pi pi-times text-red-600"
                        ></i>
                        <i
                          *ngSwitchCase="'expert'"
                          class="pi pi-star-fill text-green-600"
                        ></i>
                        <i
                          *ngSwitchCase="'proficient'"
                          class="pi pi-star text-yellow-600"
                        ></i>
                        <i
                          *ngSwitchDefault
                          class="pi pi-times text-red-600"
                        ></i>
                      </span>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Actions & Spells">
        <!-- todo Actions (implizit aus Spells, Items und Klasse)
                 Alle Actiontypen müssen sich irgendwie eine zeile teilen, vllt macht man das auch so wie bei den spells im detailview mit panel pro actiontype 4
                 -->

        <!-- todo Spells 1 string feld, rest geladen über backend p-autocomplete 4, wenn das backend vorhanden wär xD-->
      </p-accordionTab>
      <p-accordionTab header="Inventory">
        <!-- Inventory -->
        <div formGroupName="inventory">
          <div formArrayName="items">
            <div
              class="rounded-2xl overflow-auto max-h-96 border p-2 border-gray-600"
            >
              <div
                *ngFor="let item of items.controls; let i = index"
                [formGroupName]="i"
                class="rounded"
              >
                <p-panel
                  [toggleable]="true"
                  [collapsed]="true"
                  styleClass="item-panel"
                >
                  <ng-template pTemplate="header">
                    <div class="flex flex-row items-center h-10 gap-2">
                      <!-- todo p:autocomplete, backend, 4 -->
                      <input
                        id="itemname"
                        type="text"
                        pInputText
                        formControlName="name"
                        placeholder="Name"
                      />
                      <!-- <input id="quantity" type="number" class="w-8 h-8 text-center" pInputText formControlName="quantity" (keydown)="preventAccordionNavigation($event)" /> -->
                    </div>
                  </ng-template>
                  <!-- Todo Beschreibung anzeigen, geladen über item key , backend fehlt, 2-->
                </p-panel>
                <div
                  *ngIf="i !== items.controls.length - 1"
                  class="border border-gray-600 rounded my-1"
                ></div>
              </div>
              <button
                type="button"
                (click)="addItem()"
                pButton
                label="Item hinzufügen"
                class="ml-4 mb-2"
              ></button>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Background & Personality">
        <p-accordion [multiple]="true">
          <p-accordionTab header="Hintergrund">
            <textarea
              id="background"
              rows="10"
              formControlName="background"
              pInputTextarea
              class="w-full"
              [autoResize]="true"
              placeholder="Hintergrund"
            ></textarea>
          </p-accordionTab>

          <p-accordionTab header="Persönlichkeit">
            <textarea
              id="personality_traits"
              formControlName="personality"
              rows="10"
              pInputTextarea
              class="w-full"
              [cols]="10"
              [autoResize]="true"
              placeholder="Persönlichkeit"
            ></textarea>
          </p-accordionTab>

          <p-accordionTab header="Ideale">
            <textarea
              id="ideals"
              formControlName="ideals"
              rows="10"
              pInputTextarea
              class="w-full"
              [cols]="10"
              [autoResize]="true"
              placeholder="Ideale"
            ></textarea>
          </p-accordionTab>

          <p-accordionTab header="Bindungen">
            <textarea
              id="bonds"
              formControlName="bonds"
              rows="10"
              pInputTextarea
              class="w-full"
              [cols]="10"
              [autoResize]="true"
              placeholder="Bindungen"
            ></textarea>
          </p-accordionTab>

          <p-accordionTab header="Makel">
            <textarea
              id="flaws"
              formControlName="flaws"
              rows="10"
              pInputTextarea
              class="w-full"
              [cols]="10"
              [autoResize]="true"
              placeholder="Makel"
            ></textarea>
          </p-accordionTab>
        </p-accordion>
      </p-accordionTab>
      <p-accordionTab header="Merkmale und Eigenschaften">
        <p-accordion [multiple]="true">
          <!-- Todo: Subclassmerkmale, Spezies und Klassenmerkmale mergen 4 s.characterbögen oder gpt fragen-->
          <!-- <p-accordionTab header="Merkmale">
                        <textarea id="features" formControlName="abilities" rows="10" pInputTextarea class="w-full" [cols]="10" [autoResize]="true" placeholder="Fähigkeiten"></textarea>
                    </p-accordionTab> -->
        </p-accordion>
      </p-accordionTab>
    </p-accordion>

    <!-- Submit Button -->
    <button
      type="submit"
      pButton
      label="Abschicken"
      class="mt-4"
      icon="pi pi-check"
    ></button>
  </form>
</div>
