<div class="p-10">
  <div class="flex flex-row flex-wrap">
    <!-- TODO 9: <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)" /> 9 -->
    <!-- TODO @SIS backend und requests für bilder -->
    <div class="character-image-container flex items-center justify-center">
      <div
        class="character-image-wrapper flex items-center justify-center border border-gray-600 overflow-hidden"
      >
        <div class="image-preview-wrapper">
          <img [src]="getImage()" alt="Class Image" class="image-preview" />
        </div>
      </div>
    </div>

    <div class="border border-gray-600 rounded mx-3 h-40"></div>

    <!-- Basic Info -->
    <!-- Das hier wrapped sich zu früh unter das bild glaub ich -->
    <div class="flex flex-col gap-2 flex-grow h-40 mb-6">
      <input
        type="text"
        pInputText
        [ngModel]="getName()"
        [disabled]="true"
        placeholder="Name"
        class="text-2xl"
      />

      <div class="flex flex-row items-center">
        <!-- TODO Geht hier auch "relative w-full" ?? -->
        <div style="position: relative; width: 100%">
          <div class="flex flex-col gap-4 py-4">
            <div class="flex flex-row gap-6">
              <div class="flex flex-row items-center">
                <label for="trefferwuerfel" class="pr-2">HP-Würfel</label>
                <p-dropdown
                  [options]="getDiceItems()"
                  [ngModel]="getDiceItem()"
                  [disabled]="true"
                  placeholder="Würfel"
                  styleClass="w-28"
                >
                </p-dropdown>
              </div>
              <!-- TODO: Es gibt auch Abilities mit or siehe DnD Beyond Fighter -->
              <!-- TODO Stimmt, vllt mach man hier ein ngFor pro level? meistens sind die abilities ja nem level zugeordnet -->
              <!-- Dabei maybe jede reihe ein level -->
              <p-multiSelect
                [options]="getAbilityItems()"
                [ngModel]="primaryAbilities"
                [disabled]="true"
                placeholder="Primäre Fähigkeiten"
              ></p-multiSelect>
              <p-multiSelect
                [options]="armorOptions"
                [ngModel]="armorProficiencies"
                [disabled]="true"
                placeholder="Rüstungen"
              ></p-multiSelect>
              <p-multiSelect
                [options]="weaponOptions"
                [ngModel]="weaponProficiencies"
                [disabled]="true"
                placeholder="Waffen"
              ></p-multiSelect>
              <p-multiSelect
                [options]="skillOptions"
                [ngModel]="skillProficiencies"
                [disabled]="true"
                placeholder="Skills"
              ></p-multiSelect>
            </div>
            <div class="flex flex-row gap-6">
              <!-- TODO Können bis zu 10 Stück sein, mit erweiterungen aus der kreativen ecke (homebrewed aka selbstausgedachter community content) vermutlich mehr -->
              <!-- Sollte also mindestens 1 bis 2 zeilen alleine haben können -->
              <p-multiSelect
                [options]="subClasses"
                [ngModel]="subclasses"
                [disabled]="true"
                placeholder="Subklassen"
              ></p-multiSelect>

              <!-- TODO Hier ähnlich, können teilweise 50+ Stück sein, sollte mehr platz bekommen und sollte anhand des levels igwie gecolorcoded, sortiert oder getrennt werden
                Filtern nach level sollte auch möglich sein, kp wie man das am besten macht, datatable mit search?
              -->
              <p-autoComplete
                [suggestions]="filteredSpells"
                (completeMethod)="filterSpells($event)"
                [ngModel]="learnableSpells"
                [disabled]="true"
                [dropdown]="true"
                [multiple]="true"
                field="label"
                placeholder="Select Spells"
              >
              </p-autoComplete>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <textarea
      pInputTextarea
      [ngModel]="getDescription()"
      rows="4"
      cols="50"
      maxlength="{{ descriptionMaxLength }}"
      class="w-full"
      [disabled]="true"
      placeholder="Beschreibung"
    ></textarea>
    <span class="char-counter">
      {{ descriptionLength }}/{{ descriptionMaxLength }}
    </span>
  </div>
</div>
