.dice-container {
  @apply p-2 w-28 flex flex-1 gap-1 flex-wrap flex-row; // TODO besser grid? 2x4 ?
}

.dice-type-icon {
  @apply w-4 h-4 flex items-center justify-center;
}

.dice-type {
  @apply flex flex-1 items-center gap-1;
  font-size: 0.5rem;
}

.dice-icon {
  transform: scale(0.5);
  transform-origin: center;
}

.icon-2 {
  @apply bg-red-300 bg-opacity-30;
}

.icon-4 {
  @apply bg-blue-300 bg-opacity-30;
}

.icon-6 {
  @apply bg-yellow-300 bg-opacity-30;
}
.icon-8 {
  @apply bg-green-300 bg-opacity-30;
}
.icon-10 {
  @apply bg-orange-300 bg-opacity-30;
}
.icon-12 {
  @apply bg-purple-300 bg-opacity-30;
}
.icon-20 {
  @apply bg-cyan-300 bg-opacity-30;
}
.icon-100 {
  @apply bg-slate-300 bg-opacity-30;
}

// TODO Später alle bg-xy-300 durch background image und dem icon ersetzen
